# Deny direct access to the data directory
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^data(/|$) - [F,L]
</IfModule>

# Optional clean URL support
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>
